@model BP.Data.Scoring

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Scoring for @Model.Position</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Position" />
            <div class="form-group">
                <label asp-for="Appearance" class="control-label"></label>
                <input asp-for="Appearance" class="form-control" />
                <span asp-validation-for="Appearance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoalScored" class="control-label"></label>
                <input asp-for="GoalScored" class="form-control" />
                <span asp-validation-for="GoalScored" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CleanSheet" class="control-label"></label>
                <input asp-for="CleanSheet" class="form-control" />
                <span asp-validation-for="CleanSheet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assist" class="control-label"></label>
                <input asp-for="Assist" class="form-control" />
                <span asp-validation-for="Assist" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PenSave" class="control-label"></label>
                <input asp-for="PenSave" class="form-control" />
                <span asp-validation-for="PenSave" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PenMiss" class="control-label"></label>
                <input asp-for="PenMiss" class="form-control" />
                <span asp-validation-for="PenMiss" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MOTM" class="control-label"></label>
                <input asp-for="MOTM" class="form-control" />
                <span asp-validation-for="MOTM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YellowCard" class="control-label"></label>
                <input asp-for="YellowCard" class="form-control" />
                <span asp-validation-for="YellowCard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RedCard" class="control-label"></label>
                <input asp-for="RedCard" class="form-control" />
                <span asp-validation-for="RedCard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
