@model BP.Data.Team

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Team</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="TeamName" class="control-label"></label>
                <input asp-for="TeamName" class="form-control" />
                <span asp-validation-for="TeamName" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Points" class="control-label"></label>
                <input asp-for="Points" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Wins" class="control-label"></label>
                <input asp-for="Wins" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Draws" class="control-label"></label>
                <input asp-for="Draws" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Losses" class="control-label"></label>
                <input asp-for="Losses" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="GoalsFor" class="control-label"></label>
                <input asp-for="GoalsFor" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="GoalsAgainst" class="control-label"></label>
                <input asp-for="GoalsAgainst" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="GoalDifference" class="control-label"></label>
                <input asp-for="GoalDifference" class="form-control" />
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
